/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/sass/main.scss ***!
  \*******************************************************************************************************************************************************/
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  scroll-behavior: smooth;
}

main, footer {
  position: relative;
  top: 750px;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.popup-background {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(69, 92, 100, 0.9);
  display: none;
}

.stop-scrolling .popup-background {
  display: block;
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 16px;
}

main {
  background-color: #fafafa;
}

.logo {
  display: inline-block;
}

.cr-logo {
  display: block;
}

picture img {
  display: block;
}

.stop-scrolling {
  overflow: hidden;
}

.mb-title {
  margin-bottom: 80px;
}

.mb-tt {
  margin-bottom: 14px;
}

.py-main {
  padding: 120px 0;
}

.fa-heart {
  transition: 0.3s ease;
}
.fa-heart:hover {
  color: red;
  font-weight: 700;
}

.fa-brands {
  transition: 0.3s ease;
}

.fa-facebook-f:hover {
  color: #2a41e8;
  box-shadow: 0 0 10px #2a41e8;
}

.fa-twitter:hover {
  color: #26a7de;
  box-shadow: 0 0 10px #26a7de;
}

.fa-instagram:hover {
  color: #9932cc;
  box-shadow: 0 0 10px #9932cc;
}

.fa-linkedin-in:hover {
  color: #0a66c2;
  box-shadow: 0 0 10px #0a66c2;
}

.fa-pinterest-p:hover {
  color: #ff0000;
  box-shadow: 0 0 10px #ff0000;
}

.flex {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 760px) {
  .flex {
    justify-content: space-between;
  }
}

@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik.ttf);
}
body {
  font-family: "Rubik";
}

.title-lg {
  font-size: 56px;
  color: #111111;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.title-txt {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-align: center;
  text-transform: uppercase;
}

.text-xl {
  font-size: 36px;
  letter-spacing: 0.2px;
  color: #111111;
}

.agency-info,
.agent-info {
  font-size: 18px;
  color: #9b9b9b;
}

.contact-info {
  color: #636363;
  line-height: 26px;
}

.card-title {
  font-size: 28px;
  color: #111111;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 12px 28px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease-out;
}

.blue-btn {
  max-width: 214px;
  min-width: 204px;
  background-color: #2a41e8;
  border-radius: 4px;
}
@media only screen and (min-width: 760px) {
  .blue-btn:hover {
    background-color: darkblue;
    box-shadow: 0 0 5px #9b9b9b;
  }
}

.black-btn {
  display: inline-block;
  background-color: #000000;
  border-radius: 28px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 760px) {
  .black-btn:hover {
    box-shadow: 0 0 20px #1d1d1d;
  }
}

.orange-btn {
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #ff5e15;
  padding: 32px;
}
@media only screen and (min-width: 760px) {
  .orange-btn:hover {
    background-color: #ffffff;
    color: #ff5406;
    box-shadow: 0 0 5px #9b9b9b;
  }
}

.close {
  position: absolute;
  right: -120px;
  font-size: 16px;
  color: white;
}
@media (max-width: 1200px) {
  .close {
    right: 0;
    top: -40px;
  }
}

.arrow-btn {
  padding: 12px 20px;
  background-color: #2a41e8;
  border-radius: 4px;
  color: #ffffff;
  transition: 0.3s ease;
}
@media only screen and (min-width: 760px) {
  .arrow-btn:hover {
    box-shadow: 0 0 5px #ffffff;
  }
}

.agents {
  background-color: #f3f3f3;
}
.agents .agent {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 4px;
}
.agents figure {
  margin-bottom: 28px;
}
.agents img {
  display: block;
}
.agents .text-xl {
  margin-top: 16px;
  margin-bottom: 28px;
}
.agents .social-lnks {
  border-radius: 4px;
  border: solid 1px #ececec;
  font-size: 0;
  display: inline-block;
  margin-top: 44px;
}
.agents .social-lnks .fa-brands {
  border-right: solid 1px #ececec;
  padding: 12px 20px;
  font-size: initial;
}
.agents .social-lnks .fa-brands:last-child {
  border-right: none;
}
@media only screen and (min-width: 760px) {
  .agents .agents-wrapper {
    flex-direction: row;
  }
  .agents .agent {
    flex: 0 0 32%;
  }
}

.reviews {
  background: url(images/testimonials-bg-1.png) no-repeat center/cover;
  min-height: 844px;
}
.reviews .container {
  position: relative;
  top: 150px;
}
.reviews .text-top,
.reviews .review__text {
  color: #fafafa;
  font-weight: 500;
  letter-spacing: 2px;
}
.reviews .text-top {
  font-size: 14px;
  margin-bottom: 12px;
}
.reviews .review__title {
  font-size: 56px;
  color: #ffffff;
  margin-bottom: 100px;
}
.reviews .review-slider {
  display: flex;
  overflow: hidden;
}
.reviews li {
  flex: 0 0 100%;
}
.reviews .review__text {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 50px;
}
.reviews .cx-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.reviews .cx {
  display: flex;
  column-gap: 30px;
}
.reviews .cx-info {
  align-self: center;
}
.reviews .review__name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #fafafa;
}
.reviews .review__city {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #afafaf;
}
.reviews .btns {
  position: absolute;
  right: 4%;
  bottom: 5%;
}

.header {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 10px #848484;
}
.header .menu-button-container {
  z-index: 11;
  position: relative;
  right: 40px;
}
.header .menu-button-container .menu-button, .header .menu-button-container .menu-button::after, .header .menu-button-container .menu-button::before {
  background-color: #2a41e8;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header .menu-button-container .menu-button::after {
  content: "";
  margin-top: 8px;
}
.header .menu-button-container .menu-button::before {
  content: "";
  margin-top: -8px;
}
.header .menu-button-container .bar-one::before {
  background-color: red;
  transform: rotate(225deg);
  margin-top: 0;
}
.header .menu-button-container .bar-two {
  background-color: transparent;
}
.header .menu-button-container .bar-three::after {
  background-color: red;
  transform: rotate(-225deg);
  margin-top: 0;
}
@media only screen and (min-width: 760px) {
  .header {
    padding: 0 0 0 30px;
  }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-button-container {
    display: none;
  }
}

.header .nav-left {
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .nav-items {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  background-color: white;
  align-items: center;
  row-gap: 10%;
  height: 100%;
  padding-top: 50px;
}
.header .popup-menu {
  position: absolute;
  top: 60px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 20px 25px 0 rgba(51, 54, 57, 0.06);
  transition: 250ms ease-in-out;
  transform: scale(0.9);
  border: 1px solid rgba(230, 230, 230, 0.7);
}
.header .popup-menu li {
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s ease-out;
}
.header .popup-menu li a {
  position: relative;
}
.header .popup-menu li a::before {
  background-color: #ff5406;
  border-radius: 4px;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
.header .popup-menu li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header .popup-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 6%;
  right: 50%;
  width: 0;
  height: 0;
  border-bottom: solid 8px #ff5e15;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.header .item {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2a41e8;
}
.header .item .fa-angle-down {
  margin-left: 10px;
  transition: 0.3s ease;
}
.header .ham-items {
  display: flex;
}
.header .nav-rgt {
  display: none;
}
.header .nav-rgt svg {
  margin-left: 10px;
  vertical-align: middle;
}
@media only screen and (min-width: 760px) {
  .header .nav-items {
    display: flex;
    flex-direction: row;
    height: initial;
    position: initial;
    padding: initial;
    gap: 20px;
    margin-left: 60px;
  }
  .header .nav-items .item {
    padding: 10px;
  }
  .header .item {
    color: #4b4d4f;
    font-size: 14px;
    font-weight: 500;
  }
  .header .item a {
    transition: 0.3s ease-out;
  }
  .header .item > a:hover {
    color: #ff5406;
  }
  .header .item:hover {
    color: #ff5406;
  }
  .header .item:hover .popup-menu {
    color: #4b4d4f;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .header .item:hover .fa-angle-down {
    color: #ff5406;
    transform: rotate(180deg);
  }
  .header .nav-rgt {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .header .nav-rgt .item {
    display: inline-block;
    font-weight: bold;
    transition: 0.3s ease-out;
  }
  .header .nav-rgt i {
    margin-left: 8px;
    vertical-align: middle;
  }
  .header .nav-rgt .like {
    margin: 0 40px;
  }
}
@media screen and (max-width: 1150px) {
  .header .nav-rgt .item,
.header .nav-rgt .like {
    display: none;
  }
}

.fa-x {
  color: red;
}

.hero {
  background: url(images/hero-bg-image.png) no-repeat center/cover;
  min-height: 750px;
  width: 100%;
  position: fixed;
  top: 0;
}
.hero .container {
  max-width: 1400px;
}
.hero .hero__title {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 12px;
}
.hero p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 52px;
}
@media (min-width: 581px) {
  .hero {
    background: url(images/hero-bg-image@2x.png) no-repeat center/cover;
  }
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  font-size: 18px;
  color: #646464;
  font-weight: 600;
  margin-bottom: 40px;
}
form input:focus {
  outline: 1px solid #2a41e8;
}
form .form__dropdown {
  position: relative;
  margin-bottom: 30px;
  max-width: 274px;
  cursor: pointer;
}
form .form__dropdown span {
  font-size: 14px;
  color: #9b9b9b;
  position: absolute;
  top: 4px;
  left: 12px;
}
form .form__dropdown .fa-angle-down {
  position: absolute;
  right: 4px;
  bottom: 4px;
  transition: 0.3s ease;
}
form .selected, form > .input {
  border-radius: 4px;
  padding: 26px 10px 5px 10px;
  background-color: #ececec;
  height: 100%;
}
form > .input {
  max-width: 274px;
  padding: 16px 10px 15px 10px;
}
form .type {
  font-size: 16px;
  color: #232628;
  font-weight: 600;
}
form .options {
  position: absolute;
  background-color: #ececec;
  border-radius: 4px;
  width: 100%;
  height: 0;
  overflow: auto;
  transition: height 0.3s ease;
  z-index: 50;
}
form .option {
  padding: 17px;
  border-bottom: 1px solid lightgray;
}
form .options.active {
  height: 216px;
}
form .options.active + .fa-angle-down {
  transform: rotate(180deg);
}
form .blue-btn.is-loading {
  position: relative;
  color: transparent;
}
form .blue-btn.is-loading::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  top: 50%;
  left: 50%;
  margin-left: -0.7em;
  margin-top: -0.7em;
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 760px) {
  form {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
  }
  form input {
    margin-bottom: 0;
  }
  form .form__dropdown {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 760px) {
  form .form__dropdown .selected, form .form__dropdown form > .input {
    min-width: 274px;
  }
  form > .input {
    min-width: 450px;
  }
}

.footer {
  background-color: #151515;
}
.footer .social-lnks-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .logo {
  margin-bottom: 30px;
}
.footer .social-lnks {
  display: flex;
  justify-content: center;
}
.footer .social-lnks .fa-brands {
  color: #ffffff;
  padding: 30px;
  border-right: solid 1px rgba(255, 255, 255, 0.0705882353);
}
.footer .social-lnks .fa-brands:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.0705882353);
}
.footer .footer__main {
  padding-top: 86px;
  padding-bottom: 86px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.0705882353);
  border-top: solid 1px rgba(255, 255, 255, 0.0705882353);
}
.footer .footer__main h6 {
  font-size: 16px;
  letter-spacing: 1.14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 30px;
}
.footer .footer__main li:not(:nth-child(1)) {
  font-size: 16px;
  letter-spacing: 1.14px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 20px;
}
.footer .footer__main li:not(:nth-child(1)):last-child {
  margin-bottom: 0;
}
.footer .col1,
.footer .col2 {
  margin-bottom: 50px;
}
.footer .col3 li {
  line-height: 1.5;
}
.footer .footer__bottom {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer__bottom p {
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7019607843);
}
.footer .legal-info {
  margin-top: 40px;
}
.footer .legal-info p {
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .legal-info p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 760px) {
  .footer .footer__bottom, .footer .social-lnks-wrapper {
    display: flex;
    align-items: center;
  }
  .footer .social-lnks-wrapper {
    justify-content: space-between;
  }
  .footer .logo {
    margin-bottom: 0;
  }
  .footer .footer__main .container::after {
    content: "";
    display: table;
    clear: both;
  }
  .footer .col1,
.footer .col2 {
    float: left;
    margin-bottom: 0;
  }
  .footer .col1 a,
.footer .col2 a,
.footer .legal-info a {
    position: relative;
  }
  .footer .col1 a::before,
.footer .col2 a::before,
.footer .legal-info a::before {
    background-color: #9b9b9b;
    border-radius: 4px;
    bottom: -4px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }
  .footer .col1 a:hover::before,
.footer .col2 a:hover::before,
.footer .legal-info a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .footer .col2 {
    margin-left: 30px;
  }
  .footer .col3 {
    float: right;
  }
  .footer .footer__bottom {
    justify-content: space-around;
  }
  .footer .legal-info {
    display: flex;
    column-gap: 20px;
    margin-top: 0;
  }
  .footer .legal-info p {
    margin-bottom: 0;
  }
}

.featured .properties-container {
  flex-direction: column;
  row-gap: 50px;
  margin-bottom: 68px;
}
.featured li {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 1px #848484;
}
.featured figure {
  position: relative;
}
.featured .caption-top,
.featured .caption-bottom {
  position: absolute;
  width: 100%;
  padding: 0 20px;
}
.featured .info {
  float: left;
}
.featured .caption-top {
  top: 20px;
}
.featured .caption-top .info p:nth-child(2) {
  background-color: #ff5e15;
}
.featured .caption-top p {
  display: inline-block;
  padding: 10px;
  background-color: blue;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.featured .caption-bottom {
  bottom: 20px;
}
.featured .caption-bottom p {
  left: 24px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 4px;
  color: #2a41e8;
  font-size: 15px;
  font-weight: 600;
}
.featured .caption-bottom .fa-heart,
.featured .caption-bottom .fa-arrow-right-arrow-left {
  background-color: black;
  padding: 8px;
  color: #ffffff;
  border-radius: 4px;
}
.featured .caption-bottom .fa-heart:hover {
  color: red;
}
.featured .caption-bottom .fa-arrow-right-arrow-left {
  transition: 0.3s ease;
}
.featured .caption-bottom .fa-arrow-right-arrow-left:hover {
  color: green;
}
.featured .icons {
  float: right;
}
.featured .property-data {
  padding: 20px;
}
.featured .city-name {
  margin-bottom: 20px;
}
.featured .city-name .fa-location-dot {
  color: #ff5406;
  margin-right: 6px;
}
.featured .property__address {
  font-size: 20px;
  line-height: 1.6;
  color: #1d1d1d;
  margin-bottom: 24px;
}
.featured .ownr-name {
  display: inline-block;
  font-size: 14px;
  color: #2a41e8;
  margin-bottom: 22px;
}
.featured .ownr-name img {
  vertical-align: top;
  margin-right: 6px;
}
.featured .ownr-name:hover {
  font-weight: 600;
}
.featured .txt-silver {
  font-size: 14px;
  color: #848484;
}
.featured .month-old {
  float: right;
}
.featured .prop-info {
  border-top: solid 1px #f4f4f4;
  padding-top: 16px;
}
.featured .prop-size {
  font-size: 16px;
  color: #111111;
  display: inline-block;
}
.featured .prop-size img {
  vertical-align: initial;
}
.featured .prop-room {
  float: right;
}
.featured .prop-room img {
  margin-right: 6px;
}
.featured .prop-room span {
  margin-right: 22px;
}
.featured .prop-room span:last-child {
  margin-right: 0;
}
.featured .more-properties {
  display: none;
}
@media only screen and (min-width: 760px) {
  .featured .properties-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .featured li {
    flex: 0 0 32.5%;
  }
}

.hot-deals figure {
  position: relative;
  font-size: 0;
}
.hot-deals figure img {
  width: 100%;
  height: 100%;
}
.hot-deals figcaption a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #2a41e8;
  padding: 10px 14px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.2s ease;
}
.hot-deals article {
  position: relative;
  background-color: #292929;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}
.hot-deals .deal-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 98%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  z-index: 99;
}
.hot-deals .deal-video video {
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 10px #111111;
}
.hot-deals .popup-video {
  visibility: visible;
  opacity: 1;
}
.hot-deals .deals-text {
  font-size: 18px;
  color: #9b9b9b;
  margin-bottom: 35px;
}
.hot-deals .deals-text .fa-circle-dot {
  margin-right: 6px;
}
.hot-deals .deals-title {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 40px;
}
.hot-deals .orange-btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 4px;
}
.hot-deals .fa-circle-play {
  font-size: 100px;
  display: block;
  margin: 60px 0;
  color: #9b9b9b;
  position: relative;
}
.hot-deals .fa-circle-play .remind-user {
  position: absolute;
  top: -30px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.hot-deals .fa-circle-play .remind-user::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: solid 8px #9b9b9b;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.hot-deals .fa-circle-play .remind-user.remind {
  visibility: visible;
  opacity: 1;
}
.hot-deals .info-icons {
  display: flex;
}
.hot-deals .info-icons span {
  display: inline-block;
  font-size: 16px;
  color: #9b9b9b;
  margin-top: 12px;
}
@media only screen and (min-width: 760px) {
  .hot-deals .deal {
    position: relative;
    display: flex;
  }
  .hot-deals figure,
.hot-deals article {
    flex-basis: 50%;
  }
  .hot-deals figcaption a:hover {
    background-color: #9b9b9b;
  }
  .hot-deals article {
    position: initial;
    padding: 18px 50px;
  }
  .hot-deals .deal-video {
    width: 80%;
  }
  .hot-deals .info-icons span {
    margin-top: 0;
    margin-left: 10px;
    vertical-align: super;
  }
  .hot-deals li {
    margin-right: 20px;
  }
  .hot-deals li:last-child {
    margin-right: 0;
  }
}

.areas li {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.areas li:last-child {
  margin-bottom: 0;
}
.areas img {
  transition: 0.5s;
  height: 360px;
  object-fit: cover;
  display: block;
}
.areas img:hover {
  transform: scale(1.1);
}
.areas .wd {
  width: 100%;
}
.areas figcaption {
  position: absolute;
  bottom: 18px;
  left: 30px;
}
.areas figcaption p {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #ffffff;
}
.areas figcaption label {
  font-size: 18px;
  color: #ffffff;
}
.areas figcaption .fa-circle-dot {
  margin-right: 8px;
}
@media only screen and (min-width: 760px) {
  .areas ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .areas li {
    margin-bottom: 0;
  }
  .areas li:nth-child(3n+1) {
    flex: 1 1 25%;
  }
  .areas li:nth-child(2), .areas li:nth-child(3) {
    flex: 1 1 60%;
  }
}

.sell-property {
  background: url(images/hero-bg-image.png) no-repeat center/cover;
  min-height: 750px;
  position: relative;
}
.sell-property .container {
  position: relative;
  top: 100px;
}
.sell-property article {
  background-color: #2842cd;
  padding: 90px 20px;
  border-radius: 6px;
}
.sell-property h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 36px;
}
.sell-property p {
  font-size: 20px;
  line-height: 1.5;
  color: #c6cbea;
  margin-bottom: 42px;
}
.sell-property i {
  margin-left: 30px;
}

.our-agencies ul {
  flex-direction: column;
}
.our-agencies li {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  text-align: center;
  padding: 30px 32px 40px;
  margin-bottom: 30px;
  box-shadow: 0 0 8px #ececec;
}
.our-agencies .ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #636363;
  font-size: 16px;
}
.our-agencies .ratings img,
.our-agencies .ratings .fa-star {
  margin-right: 4px;
}
.our-agencies .ratings img {
  vertical-align: top;
}
.our-agencies .ratings .fa-star {
  color: #ffc107;
}
.our-agencies .agency-logo {
  margin-bottom: 36px;
}
.our-agencies .agency-info img {
  margin-right: 8px;
}
.our-agencies .text-xl {
  margin-top: 16px;
  margin-bottom: 14px;
}
.our-agencies .proprty-numbr {
  display: inline-block;
  color: #2a41e8;
  font-size: 16px;
  background-color: #eaedfd;
  padding: 12px 16px;
  border-radius: 3px;
  margin-top: 34px;
  transition: 0.2s ease-out;
}
.our-agencies .proprty-numbr:hover {
  background-color: #2842cd;
  color: #ffffff;
}
@media only screen and (min-width: 760px) {
  .our-agencies ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-agencies li {
    flex: 0 0 32%;
    margin-bottom: 0;
  }
}

.articles {
  background-color: #f3f3f3;
}
.articles ul {
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 30px;
}
.articles li {
  background-color: #ffffff;
  border-radius: 6px;
}
.articles picture img {
  display: block;
}
.articles article {
  padding: 30px;
}
.articles .category {
  font-size: 13px;
  color: #ffffff;
  background-color: #2a41e8;
  border-radius: 3px;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 16px;
}
.articles .card-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 68px;
}
.articles .date {
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  border-top: 1px solid #f3f3f3;
  padding-top: 30px;
}
.articles .date .fa-clock {
  color: #ff5e15;
  margin-right: 6px;
}
@media only screen and (min-width: 760px) {
  .articles ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
  }
  .articles li {
    flex: 0 0 32%;
    transition: 0.2s ease-out;
  }
  .articles li:hover {
    box-shadow: 0 0 10px #646464;
  }
}

.our-values ul {
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 60px;
}
.our-values .value {
  max-width: 400px;
  width: 100%;
  padding: 34px 42px;
  border-radius: 6px;
  background-color: #ffffff;
}
.our-values .value i {
  color: #2a41e8;
  margin-bottom: 18px;
}
.our-values .value:nth-child(2) {
  box-shadow: 0 0 90px 0 rgba(41, 44, 28, 0.08);
}
.our-values .card-title {
  line-height: 1.29;
  margin-bottom: 22px;
}
.our-values .value__text {
  font-size: 16px;
  line-height: 1.75;
  color: #9b9b9b;
}
@media only screen and (min-width: 760px) {
  .our-values ul {
    flex-direction: row;
    align-items: initial;
  }
  .our-values .value {
    flex: 0 0 32.5%;
  }
}
